<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Posts</title>
    <link rel="stylesheet" href="styles/style.css">
</head>

<body>
    <main>
        <% if (posts.length > 0) { %>
            <% posts.forEach(post => { %>
                <div class="blog-entry">
                    <p>Title: <%= post.title %></h2>
                    <p>Content: <%= post.content %></p>
                    <p>Author: <%= post.author %></p>
                    </div>
            <% }); %>
        <% } else { %>
            <p>No Posts Found</p>
        <% } %>
    </main>

    <footer>
        <a href="/">Create a New Post</a>
    </footer>

</body>

</html>